mixin strongLink(link, text)
	a(href=link) #[strong #{text}]

mixin clientSection(client)
	.client-section: center
		h3= client.name
		table.client
			tr.trow
				td.left: strong Author:
				td.right= client.author
			tr.trow
				td.left: strong Price:
				td.right= client.price
			tr.trow
				td(colspan="2" style="text-align: center"): a(href=client.homepage target="_blank") Homepage
		p.description= client.description
		br
		
	br